<!DOCTYPE html>
<!--=== Coding by CodingLab | www.codinglabweb.com === -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="mentorlogin.css">
     
    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <title>Responsive Regisration Form </title> 
</head>
<body>
    <div class="container">
        <header>Registration</header>

        <form action="/mentorreg" method="post">
            <div class="form first">
                <div class="details personal">
                    <span class="title">Personal Details</span>

                    <div class="fields">
                        <div class="input-field">
                            <label>Full Name</label>
                            <input name="name" type="text" placeholder="Enter your name" required>
                        </div>

                        <div class="input-field">
                            <label>Date of Birth</label>
                            <input name="dob" type="date" placeholder="Enter birth date" required>
                        </div>

                        <div class="input-field">
                            <label>Email</label>
                            <input name="email" type="text" placeholder="Enter your email" required>
                        </div>

                        <div class="input-field">
                            <label>Mobile Number</label>
                            <input name="mobile" type="number" placeholder="Enter mobile number" required>
                        </div>

                        <div class="input-field">
                            <label>Gender</label>
                            <select name="gender" required>
                                <option disabled selected>Select gender</option>
                                <option>Male</option>
                                <option>Female</option>
                                <option>Others</option>
                            </select>
                        </div>

                        <div class="input-field">
                            <label>Occupation</label>
                            <input name="Occupation" type="text" placeholder="Enter your occupation" required>
                        </div>
                    </div>
                </div>
                <div class="details address">
                    <span class="title">Address Details</span>

                    <div class="fields">

                        <div class="input-field">
                            <label>Nationality</label>
                            <input name="Nationality" type="text" placeholder="Enter nationality" required>
                        </div>

                        <div class="input-field">
                            <label>State</label>
                            <input name="state" type="text" placeholder="Enter your state" required>
                        </div>

                        <div class="input-field">
                            <label>District</label>
                            <input name="district" type="text" placeholder="Enter your district" required>
                        </div>
                    </div>
                </div>

                <div class="details ID">
                    <span class="title"> Education Qualifications</span>

                    <div class="fields">
                        <div class="input-field">
                            <label>Qualification-1</label>
                            <input type="file" required>
                        </div>

                        <div class="input-field">
                            <label>Qualification-2</label>
                            <input type="file" class="upload" placeholder="Enter ID number" required>
                        </div>

                        <div class="input-field">
                            <label>Password</label>
                            <input name="Password" type="password" class="upload" placeholder="Enter Password" required>
                        </div>
                    </div>

                    
                </div> 
                <div class="submit-btn">
                <button name="submit"  type="submit" class="submit" value="Register">
                       <span class="btnText">Submit</span>
                    </button>
                </form>


                </div>
            </div>

            
        
    </div>

    <script>
        function submmision(){
            window.location.assign('http://localhost:3000/success')
        }

    </script>
</body>
</html>