<!DOCTYPE html>
<!--=== Coding by CodingLab | www.codinglabweb.com === -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
    <title>Login</title>
    <style>
        
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
 .submitted-box .i{
    
    font-size: 280px;
    color: #4070f4;
}
  .submitted-box {
    position: relative;
    left: 35%;
    margin-top: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    max-height: 500px;
    width: 100%;
    padding: 30px 20px;
    border-radius: 24px;
    background-color: #a7dded;
    text-wrap: wrap;   
}
.header2{
    margin-top: 20px;
}
.header3{
    margin-top: 20px;
    
}
.login{
    margin-top: 20px;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    padding: 14px 22px;
    border: none;
    background: #4070f4;
    border-radius: 6px;
    cursor: pointer;
  }
    </style> 
</head>
<body>
    
    
        
        <div class="submitted-box">
            <i class="fa-regular fa-circle-check"></i>
            <h2 class="header2">Submitted Successfully</h2>
            <h3 class="header3">Pleace check your mail, After verification you will get your login details.</h3>
            <div class="button">
              <div class="login"><a style="text-decoration: none; color: rgb(252, 252, 252);" href="http://localhost:3000/mentordashboard">Login</a></div>
            </div>
        </div>
    

</body>
</html>